@media only screen and (max-width:720px) {
  .float-left {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

  .left {
  		width: 100%!important;
        height: 175px;
        background-size: cover;
        background-position: center;
  }
  .main1 {
  	width: 100%;
  	padding-left: 15px;
  	padding-right: 15px;
  }

  .main2, .main3, .main4, .main5{
  	padding-left: 15px;
  	padding-right: 15px;
  }

  .w-25 {
  	width: 50%;
  }

  .w-25-2 {
  	width: 50%;
  	padding-top: 0px;
  }


 /* .main5 {
  	padding-top: 38px;
  	padding-left: 15px;
  	padding-right: 15px;
  }*/
}

@media only screen and (max-width: 720px) {
.flex-row {
  	display: flex;
  	flex-direction: column;
  	align-self: center;
  	margin: auto;
  }

.avatar-girl {
	justify-content: center;
	margin: auto;
}

.padding-top-86 {
	padding-top: 30px;
}

}